{% extends "base.html" %}

{% block content %}
  <h1>
    Types of dishes List
    <a href="{% url 'core:type-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  {% if types_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for types in types_list %}
        <tr>
          <td>
              {{ types.id }}
          </td>
          <td>
              {{ types.name }}
          </td>
          <td>
              <a href="{% url 'core:type-update' pk=types.id %}">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'core:type-delete' pk=types.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no types in the service.</p>
  {% endif %}
{% endblock %}